@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}

.collectionSwiper .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid black;
  width: 5px;
  height: 5px;
  opacity: 0.5;
  transform: translateY(10px);
}

.collectionSwiper .swiper-pagination-bullet-active {
  background-color: black;
  opacity: 1;
  width: 5px;
  height: 5px;
}
.featuredSwiper .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid black;
  width: 5px;
  height: 5px;
  opacity: 0.5;
  transform: translateY(10px);
}

.featuredSwiper .swiper-pagination-bullet-active {
  background-color: black;
  opacity: 1;
  width: 5px;
  height: 5px;
}

.reviewSwiper .swiper-pagination-bullet {
  background-color: transparent;
  border: 1px solid black;
  width: 5px;
  height: 5px;
  opacity: 0.5;
  transform: translateY(10px);
}

.reviewSwiper .swiper-pagination-bullet-active {
  background-color: black;
  opacity: 1;
  width: 5px;
  height: 5px;
}
